**Import python packes and sqlite3**

In [1]:
import pandas as pd
import numpy as np
import sqlite3 as sql

**Create connection to database file**

In [2]:
database = 'sqlite_db_pythonsqlite.db'
connection = sql.connect(database)

**Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!**

In [3]:
query_q10 = '''SELECT Facilities.name, 
	SUM(CASE WHEN Bookings.memid <> 0  
    THEN Facilities.membercost * Bookings.slots 
    ELSE Facilities.guestcost * Bookings.slots 
    END) AS total_revenue
FROM Facilities
INNER JOIN Bookings ON Facilities.facid = Bookings.facid
GROUP BY Facilities.name
HAVING total_revenue < 1000
ORDER BY total_revenue;'''

df_q10 = pd.read_sql_query(query_q10, connection)

In [4]:
print(df_q10)

            name  total_revenue
0   Table Tennis            180
1  Snooker Table            240
2     Pool Table            270

**Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order**

In [5]:
query_q11 = '''SELECT m.surname AS member_surname, m.firstname AS member_firstname, r.surname AS recomender_surname, r.firstname AS recomender_firstname
FROM Members AS m
JOIN Members AS r ON m.recommendedby = r.memid
WHERE m.recommendedby != 0
ORDER BY m.surname, m.firstname;'''

df_q11 = pd.read_sql_query(query_q11, connection)

In [6]:
print(df_q11)

       member_surname member_firstname recomender_surname recomender_firstname
0               Bader         Florence           Stibbons               Ponder
1               Baker             Anne           Stibbons               Ponder
2               Baker          Timothy            Farrell               Jemima
3              Boothe              Tim             Rownam                  Tim
4             Butters           Gerald              Smith               Darren
5              Coplin             Joan              Baker              Timothy
6             Crumpet            Erica              Smith                Tracy
7                Dare            Nancy           Joplette               Janice
8             Genting          Matthew            Butters               Gerald
9                Hunt             John            Purview            Millicent
10              Jones            David           Joplette               Janice
11              Jones          Douglas              Jones                David
12           Joplette           Janice              Smith               Darren
13          Mackenzie             Anna              Smith               Darren
14               Owen          Charles              Smith               Darren
15             Pinker            David            Farrell               Jemima
16            Purview        Millicent              Smith                Tracy
17             Rumney        Henrietta            Genting              Matthew
18             Sarwin        Ramnaresh              Bader             Florence
19              Smith             Jack              Smith               Darren
20           Stibbons           Ponder              Tracy               Burton
21  Worthington-Smyth            Henry              Smith                Tracy

**Q12: Find the facilities with their usage by member, but not guests**

In [7]:
query_q12 = '''SELECT f.name AS facility, m.firstname || ' ' || m.surname AS member_name, m.memid AS member_id
FROM Bookings AS b
INNER JOIN Facilities AS f ON b.facid = f.facid
INNER JOIN Members AS m ON b.memid = m.memid 
WHERE b.memid != 0
ORDER BY facility;'''

df_q12 = pd.read_sql_query(query_q12, connection)

In [8]:
print(df_q12)

             facility   member_name  member_id
0     Badminton Court  Darren Smith          1
1     Badminton Court  Darren Smith          1
2     Badminton Court  Darren Smith          1
3     Badminton Court  Darren Smith          1
4     Badminton Court  Darren Smith          1
...               ...           ...        ...
3155   Tennis Court 2    Tim Boothe          8
3156   Tennis Court 2  Charles Owen         10
3157   Tennis Court 2   David Jones         11
3158   Tennis Court 2  Charles Owen         10
3159   Tennis Court 2    Tim Boothe          8

[3160 rows x 3 columns]

**Q13: Find the facilities usage by month, but not guests**

In [9]:
query_q13 = '''SELECT STRFTIME('%m', starttime) AS month, COUNT(memid) AS facility_usage
FROM Bookings
WHERE memid != 0
GROUP BY month;'''

df_q13 = pd.read_sql_query(query_q13, connection)

In [10]:
print(df_q13)

  month  facility_usage
0    07             480
1    08            1168
2    09            1512

In [11]:
# Closing sql connection

connection.close()